/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-text-color: #F1B2CE;;
  --main-title-color: #000028;
  --main-title-section-color: #FF0070;
  --main-accent-color: #DB00FF;
  --accent-color: #FF0070;
  --background-color: url(../images/cover-image-dark.png);
  --button-accent: #ff007066;
}

.page {
  background-image: var(--background-color);
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  height: 100vh;
  grid-template-columns: 295px 1fr;
  grid-template-rows: auto auto;
  position: relative;
}

.header__rec {
  display: block;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--main-title-section-color);
  position: absolute;
  margin-top: 12px;
  grid-column: 2;
  inset: 0;
  justify-self: center;
  margin-right: 9px;
}

html.theme-neon .header__rec {
  display: block;
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 50%;
  background-color: var(--main-title-section-color);
  box-shadow: 0px 0px 4px var(--main-title-section-color);
}

.header__title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--main-accent-color);
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 12px;
  line-height: 82%;
  max-width: 375px;
  position: relative;
  top: 15px;
}

.header__title_accent::first-letter {
  padding-right: 2px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 14px;
  grid-column-start: 2;
  grid-column-end: auto;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 400;
  line-height: 18px;
  color: var(--main-title-section-color);
  text-transform: lowercase;
  padding: 2px 12px
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-accent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--main-title-section-color);
  outline: none;
}

.header__paragraph {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 355px;
  height: 117px;
  margin: 8px 10px 0px;
  background-color: var(--accent-color); 
  position: relative;
  bottom: 52px;
}

.text__paragraph {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);;
  font-weight: 700;
  color: var(--main-title-color);
}

.title__section {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 700;
  line-height: 24px;
  color: var(--main-title-section-color);
  margin: 40px 10px 10px 10px;
}

.title-decor {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 700;
  line-height: 24px;
  color: var(--main-title-color);
  background-color: var(--accent-color);
}

.text__container {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--main-text-color);
  height: auto;
}

.second__section {
  margin-top: 50px;
}

.second_title__section {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 700;
  line-height: 24px;
  color: var(--main-title-section-color);
  margin: 48px 10px 18px 10px;
}

.title__paragraph_name {
  margin-left: 10px;
  margin-right: 10px;
}

.title__paragraph_accent {
  margin: 19px 10px 0px;
  color: var(--main-title-color);
  background-color: var(--accent-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: 400;
}

.title__name {
  margin: 31px 10px 0px 10px;
}

.text__footer {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  padding-left: 14px;
  color: var(--main-accent-color);
  text-shadow: 3px 3px 0 var(--accent-color);
}