/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.page {
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  height: 100vh;
  grid-template-columns: 295px 1fr;
  grid-template-rows: 240px 238px;
  position: relative;
}

.header__rec {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FF0070;
  position: absolute;
  margin-top: 12px;
  grid-column: 2;
  inset: 0;
  justify-self: center;
  margin-right: 9px;
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 50%;
  background-color:#ff0070;
  box-shadow: 0px 0px 4px #ff0070;
}

.header__title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: #DB00FF;
  grid-column-start: 1;
  grid-column-end: auto;
  margin-left: 12px;
  line-height: 82%;
}

.header__title_accent {
  display: inline-block;
}

.header__title_accent::first-letter {
  padding-right: 2px;
}

.header__theme-menu {
  grid-column-start: 2;
  grid-column-end: auto;
  align-self: center;
  margin-top: 4px;
  margin-right: 57px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 14px;
  grid-column-start: 2;
  grid-column-end: auto;
  margin-right: 13px;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #FF0070;
  text-transform: lowercase;
  padding: 2px 12px
}

.header__theme-menu-button_type_dark {
  outline: 1px solid #FF0070;
}

.header__paragraph {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 355px;
  height: 117px;
  margin: 8px 10px 0px;
  background-color: #FF0070; 
}

.text__paragraph {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000028;
}