/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-text-color: #f1b2ce;
  --main-title-color: #000028;
  --main-title-section-color: #ff0070;
  --main-accent-color: #db00ff;
  --accent-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --button-accent: #ff007066;
  --background-color: #000028;
  --header-rec: block;
}
