/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-text-color: #353430;
  --main-title-color: #353430;
  --main-title-section-color: #353430;
  --main-accent-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);
  --button-accent: #35343066;
  --background-color: #fff1f7;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --main-title-color: #353430;
    --main-title-section-color: #353430;
    --main-accent-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
  }
}
