/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-text-color: #f1b2ce;
  --main-title-color: #000028;
  --main-title-section-color: #ff0070;
  --main-accent-color: #db00ff;
  --accent-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --button-accent: #ff007066;
  --font-family: "IBM Plex Mono", sans-serif;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --header-rec: block;
}
